/vendor/
composer.local.json
/node_modules/
.env
/resources/assets/dist/
/storage/cache/*
/storage/logs/*
!/storage/cache/.gitkeep
!/storage/cache/views/.gitkeep
!/storage/logs/.gitkeep
composer.lock
package-lock.json
.DS_Store
Thumbs.db
